body {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.hero {
    background-color: #010b1a;
    padding: 10px 130px 40px 130px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-section {
    display: flex;
    gap: 40px;
    margin-top: 50px;
    align-items: center;
}

.hero-text h1 {
    font-size: 48px;
    margin: 0 0 10px 0;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 20px 0;
    line-height: 1.6;
}

.sign-button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.hero-image img {
    width: 420px;
    height: auto;
    border-radius: 12px;
}

.info-section {
    padding: 60px 0;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 40px;
}

.image-collection {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.image img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.image-text {
    font-size: 16px;
    color: #464646;
    text-align: center;
    margin-top: 12px;
    line-height: 1.4;
}
.quote-section {
    background-color: #E5E7EB;
    padding: 100px 270px 50px 270px;
}
.quote-section em {
    font-size: 36px;
    color: #1f2937;

}
.quote-section p {
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    text-align: end;
    margin-top: -10px;
}
.action-section {
    padding: 50px 130px 50px 130px;
}

.call-box {
    background-color: #3882f6;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 130px; 
    color: white;
}

.call-box button {
    flex-shrink: 0; 
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #3882f6;
    border: 3px solid white;
    color: white;
}

.text-wrapper {
    display: flex;
    flex-direction: column; 
    padding-left: 130px; 
}

.text-wrapper h3 {
    margin: 0 0 2px 0; 
    font-size: 24px;
}

.text-wrapper p {
    margin: 0;
    font-size: 16px;
}
