body {
    margin: 0;
    font-family: 'roboto',Arial, Helvetica, sans-serif;
}
.hero {
    background-color: #010b1a;
    padding: 10px 130px 0px 130px;
    color: #F9FAF8;
    
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-section {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}
.hero-image img {
    width: 420px;  
    height: auto;
}
.hero-text h1 {
    font-size: 48px;
    margin-bottom: 0px;
    font-weight: 900;
}
.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}
.sign-button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
}
.info-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

